.image-intro{
  position: relative;
  /* The image used */
  background-image: url("../img/tqwIntro.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-color: black;

  min-height: 700px;
}
.image-intro-subheader{
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 24px;
}
.image-intro-title{
  color: $primary-color;
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
  overflow-x: hidden;
  text-align: center;
}
.image-intro-buttons{
  // font-family: DIN-Bold;
  width: 380px;
  a{
    margin: 2.5%;
    width: 45%;
  }
}
.image-intro-container{
  margin-left: auto;
  margin-right: auto;
  @include general-padding;
  width: 100%;
  @include absolute-center;
  color: white;
  width: 100%;
  h1, h2{
    color: #9B9B9B;
  }
  h2{
    // font-family: DIN-Light;
  }
}

@media only screen and (max-width: 640px) {
  .image-intro-buttons{
    width: 100%;
    a{
      margin: 0.25rem auto;
      width: 65%;
    }
  }
}
