@include add-foundation-colors;
.portfolio{
  background-color: $black;
  color: $white;
}
.portfolio-header {
  width: 100vw;
  text-align: center;
  padding-top: 2rem;
  p {
    color: $primary-color
  }
}
.portfolio-item{
  width: 100%;
  h5, img {
    cursor: pointer;
  }
}
.portfolio-item-description{
  padding: 1rem 0;
  h5 {
    transition: all 0.8s ease-out;
    color: $primary-color
  }
}
.portfolio-item-img{
  width: 100%;
  overflow: hidden;
  img {
    transition: all 0.8s ease-out;
  }
}
.portfolio-item:hover {
  h5 {
    color: $primary-color;
  }
  img {
    transform: scale(1.4);
  }
}
.portfolio-item-description{
  width: 100%;
}
