.portfolio{

}
.portfolio-header {
  width: 100vw;
  text-align: center;
  padding: 2rem;
}
.portfolio-item{
  width: 100%;
  h5, img {
    cursor: pointer;
  }
}
.portfolio-item-description{
  padding: 1rem 0;
  h5 {
    transition: all 0.8s ease-out;
  }
}
.portfolio-item-img{
  width: 100%;
  overflow: hidden;
  img {
    transition: all 0.8s ease-out;
  }
}
.portfolio-item:hover {
  h5 {
    color: #fecd2f;
  }
  img {
    transform: scale(1.4);
  }
}
.portfolio-item-description{
  width: 100%;
}
