.projects-concept {
  padding: 1rem 2rem;
  display: flex;
  align-items: center; /* align vertical */
}
.projects-concept-data {
  font-size: 0.8rem;
}
.projects-logo{
  background-image: url("../img/logo2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.projects-slider{
  margin-bottom: 1rem;
}
