.projects-concept {
  padding: 4rem;
}
.projects-logo{
  background-image: url("../img/logo2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.projects-slider{
  margin-bottom: 1rem;
}
