@font-face {
  font-family: 'Avenir-Black';
  src: url('Avenir-Black.eot');
  src: url('Avenir-Black.woff') format('woff'),
       url('Avenir-Black.ttf') format('truetype'),
       url('Avenir-Black.svg#Avenir-Black') format('svg'),
       url('Avenir-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
