<div id="contact">
  <img src="assets/img/map.png">
  <div class="general-section grid-container">
    <div class="grid-x grid-padding-x">
      <div class="auto cell"></div>
      <div class="medium-4 cell">
        AGENDA UNA CITA
      </div>
      <div class="medium-4 cell">
        <form>
          <input type="text" placeholder="Nombre">
          <input type="email" placeholder="Correo electrónico">
          <textarea placeholder="Asunto" rows="4"></textarea>
          <a class="clear button" data-open="exampleModal1" href="#">Enviar</a>
          <a class="clear button" data-open="exampleModal2" href="#">Enviar</a>
        <form>
      </div>
      <div class="auto cell"></div>
    </div>
  </div>

</div>
