<div id="intro" class="image-intro">
  <div class="image-intro-container">
    <div class="image-intro-title">
      <h4>MANIFESTO</h4>
    </div>
    <div class="image-intro-subheader">
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis mi sed neque rhoncus, ut eleifend risus pulvinar. Nullam sit amet ante velit. Nunc tincidunt mattis libero, sit amet lobortis tellus posuere ac. Nam lectus magna, ultricies quis convallis quis, maximus id diam.</h5>
    </div>
  </div>
</div>
