<div id="portfolio">
  <div class="portfolio-header">
    <p>NUESTRO TRABAJO</p>
    <h4>Proyectos Recientes</h4>
  </div>
  <div class="general-section">
    <div class="grid-x grid-margin-x grid-margin-y">

      <div class="cell medium-6 large-4">
        <div class="portfolio-item">
          <div class="portfolio-item-img">
            <img src="/assets/img/portfolio/portfolio-1-800x800.png">
          </div>
          <div class="portfolio-item-description">
            <h6>Branding, UI/UX</h6>
            <h5>Mux Cards</h5>
          </div>
        </div>
      </div>

      <div class="cell medium-6 large-4">
        <div class="portfolio-item">
          <div class="portfolio-item-img">
            <img src="/assets/img/portfolio/portfolio-2-800x800.png">
          </div>
          <div class="portfolio-item-description">
            <h6>Branding, UI/UX</h6>
            <h5>Mux Cards</h5>
          </div>
        </div>
      </div>

      <div class="cell medium-6 large-4">
        <div class="portfolio-item">
          <div class="portfolio-item-img">
            <img src="/assets/img/portfolio/portfolio-3-800x800.png">
          </div>
          <div class="portfolio-item-description">
            <h6>Branding, UI/UX</h6>
            <h5>Mux Cards</h5>
          </div>
        </div>
      </div>

      <div class="cell medium-6 large-4">
        <div class="portfolio-item">
          <div class="portfolio-item-img">
            <img src="/assets/img/portfolio/portfolio-4-800x800.png">
          </div>
          <div class="portfolio-item-description">
            <h6>Branding, UI/UX</h6>
            <h5>Mux Cards</h5>
          </div>
        </div>
      </div>

      <div class="cell medium-6 large-4">
        <div class="portfolio-item">
          <div class="portfolio-item-img">
            <img src="/assets/img/portfolio/portfolio-5-800x800.png">
          </div>
          <div class="portfolio-item-description">
            <h6>Branding, UI/UX</h6>
            <h5>Mux Cards</h5>
          </div>
        </div>
      </div>

      <div class="cell medium-6 large-4">
        <div class="portfolio-item">
          <div class="portfolio-item-img">
            <img src="/assets/img/portfolio/portfolio-2-800x800.png">
          </div>
          <div class="portfolio-item-description">
            <h6>Branding, UI/UX</h6>
            <h5>Mux Cards</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
