<div class="portfolio">
  <div class="portfolio-header">
    <hp>THIS IS WHAT WE DO</hp>
    <h4>Latest Works</h4>
  </div>

  <div class="general-section">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell medium-6 large-4">
        <div id="portfolio-1" class="portfolio-item"></div>
      </div>
      <div class="cell medium-6 large-4">
        <div id="portfolio-2" class="portfolio-item"></div>
      </div>
      <div class="cell medium-6 large-4">
        <div id="portfolio-3" class="portfolio-item"></div>
      </div>
      <div class="cell medium-6 large-4">
        <div id="portfolio-4" class="portfolio-item"></div>
      </div>
      <div class="cell medium-6 large-4">
        <div id="portfolio-5" class="portfolio-item"></div>
      </div>
      <div class="cell medium-6 large-4">
        <div id="portfolio-6" class="portfolio-item"></div>
      </div>
    </div>
  </div>
</div>
