<div id="projects">
  <div class="large reveal" id="exampleModal1" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="grid-x">

      <div class="cell small-3">
        <div class="block">
          <div class="centered">
              <h3>Some text</h3>
          </div>
        </div>

      </div>
      <div class="cell small-9">
        <img src="assets/img/LiUNA-Local-1.png">
      </div>

      <div class="cell small-3">
        <img src="assets/img/Globe-and-Mail-detail-office-tower.png">
      </div>
      <div class="projects-concept cell small-9">
        <h3 id="foo">Concept</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis varius congue. Curabitur volutpat efficitur ante, sed convallis ligula aliquam quis. Quisque faucibus, metus et laoreet finibus, magna nunc bibendum massa, sed commodo sapien arcu id purus. Morbi dignissim condimentum consectetur. Proin consectetur enim a massa lobortis iaculis. Sed eget sollicitudin nibh. Etiam efficitur ut libero vel tincidunt.
        </p>
      </div>

      <div class="cell small-3"></div>
      <div class="cell small-9">
        <div class="slider1">
          <div><img src="assets/img/LiUNA-Local-1.png"></div>
          <div><img src="assets/img/LiUNA-Local-1.png"></div>
          <div><img src="assets/img/LiUNA-Local-1.png"></div>
        </div>
      </div>

    </div>
  </div>

</div>
