<div class="mynav">
  <div class="mynav-desk">
    <div class="mynav-mobile" id="mobile-menu">
      <i id="mobile-menu-button-close" class="fa fa-times-circle fa-2x"></i>
      <div class="mynav-mobile-options">
        <a id="mobile-menu-item-1" class="" href="#intro">INICIO</a><br>
        <a id="mobile-menu-item-2" class="" href="#portfolio">PORTAFOLIO</a><br>
        <a id="mobile-menu-item-4" class="" href="#contact">CONTÁCTANOS</a>
      </div>
   </div>
    <div class="top-bar">
      <a href="#"><img src="../assets/img/logo.png" alt="TQW"/></a>
      <div class="mynav-menu">
        <ul class="menu">
          <li><a href="#intro">INICIO</a></li>
          <li><a href="#portfolio">PORTAFOLIO</a></li>
          <li><a href="#contact">CONTÁCTANOS</a></li>
        </ul>
      </div>
      <i id="mobile-menu-button" class="fa fa-bars fa-2x"></i>
    </div>
  </div>
</div>
